/* - Colors - */
$color-primary: #c8f0a1;
$color-text: white;

/* - Radius - */
$radius: 25px;

/* - Transitions - */
$transition: 0.2s;

/* - Breakpoints - */
$break-tablet: 770px;
$break-mobile: 500px;
